.container {
  width: 100%;
  padding: 40px 113px;
  align-self: center;
}

.form__header {
  color: var(--text-blue);
}

p {
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

.form__groupe {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form__groupe label {
  color: var(--text-blue);
  margin-bottom: 10px;
  font-weight: 600;
}

.form__groupe input {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgba(2, 2, 2, 0.2);
  outline: none;
  font-size: 14px;
}

.btn {
  margin-top: 50px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--button-blue);
  color: white;
}

.socials__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 400;
}
a {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px 20px;
  }
  .form__header {
    color: var(--text-blue);
    font-size: 16px;
  }
  .header__emoji {
    width: 25px;
    height: 25px;
  }
  p {
    font-size: 14px;
  }
  .btn {
    margin-top: 25px;
  }
}
