* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-cyan: #56ccf2;
  --text-blue: #192252;
  --button-blue: #103f74;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
